<nav class="bg-gray-800 z-10">
  <div class="container mx-auto px-4 py-2">
    <div class="flex items-center justify-between">
      <!-- Mobile menu button-->
      <div class="mr-6 flex sm:hidden">
        <button type="button"
          class="text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <!-- Logo and title -->
       <div>
         <i class="bi bi-chevron-left pointer" style="color: white;" onclick="Facade.navigator.go_back()"></i>
         <a class="text-white text-lg font-semibold" onclick="Facade.navigator.go_to_home()">MMA Statistics</a>
       </div>
      <!-- Navigation Links -->
      <div class="hidden sm:ml-6 sm:flex sm:space-x-4">
        <% navbar.forEach(item=> { %>
          <a href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium navbar-item"
            onclick="Facade.navigator.<%= item.onClick %>()" id="navbar_item_<%= item.id %>">
            <i class="<%= item.icon %>"></i>
            <%= capitalize_first_letter(item.name) %>
              </a>
              <% }) %>
      </div>
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
          <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium">Dashboard</a>
          <% navbar.forEach(item=> { %>
            <a href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
              onclick="Facade.navigator.<%= item.onClick %>()" id="navbar_item_<%= item.id %>">
              <%= item.name %>
            </a>
            <% }) %>
        </div>
      </div>
    </div>
  </div>
</nav>