<%- include('partials/header') %>
    <div class="container mx-auto p-8 fight_round_details">
        <div class="flex">
            <div class="m-4 p-10 bg-white rounded shadow-xl half-width">
                <h2 class="text-xl">Fight Details</h2>
                <div class="mb-4">
                    <p class="text-2xl font-bold text-gray-600">
                        <%= fight.fighter1_first_name %>
                            <%= fight.fighter1_last_name %> VS <%= fight.fighter2_first_name %>
                                    <%= fight.fighter2_last_name %>
                    </p>
                    <p class="text-gray-600">Division <%= fight.division %>
                    </p>
                    <p class="text-gray-600">Winner: <%= fight.winner_first_name %>
                            <%= fight.winner_last_name %>
                    </p>
                    <p class="text-gray-600">Card Type: <%= fight.card_type %>
                    </p>
                </div>
            </div>
            <div class="m-4 p-10 bg-white rounded shadow-xl half-width">
                <h2 class="text-xl mb-4">Round Details</h2>
                <ul class="space-y-4 round_selector_section">

                    <% rounds.forEach(round=> { %>
                        <li class="flex round_selector" data-round-id="<%= round.round_id %>"
                            onclick="select_round('<%= organisation_id %>', '<%= event_id %>', '<%= fight.fight_id %>','<%= round.round_id %>')"
                            id="round_selector_<%= round.round_id %>">
                            <label for="first-round" class="text-gray-800 cursor-pointer"><strong>Round #<%=
                                        round.round_number %></strong>-
                                Display
                                statistics of the round</label>
                        </li>
                        <% }); %>
                            <li class="flex round_selector current_round" data-round-id="0"
                                onclick="select_round('<%= organisation_id %>', '<%= event_id %>', '<%= fight.fight_id %>','0')"
                                id="round_selector_0">
                                <label for="first-round" class="text-gray-800 cursor-pointer"><strong>All
                                        rounds</strong>-
                                    </strong>-
                                    Display
                                    statistics of all the rounds combined</label>
                            </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <%- include('partials/roundBanner') %>



        <br>
        <div class="flex fighters_strike_cards" data-fighter-selected="1">
            <div class="half-width strike_card_section fighter1_strike_card" style="border-right: 1px solid black;">
                <div class="strike_card">
                    <h1 class="text-2xl text-center font-bold" id="fighter1_name"
                        data-fighter1-id="<%= fight.fighter1_id %>">Fighter 1</h1>
                    <div class="justify-center items-center">
                        <div class="flex fight_status_section hidden justify-center">
                            <div class="fight_status pointer fight_status_fighter1 fight_status_active"
                                id="fighter1_status_standing" data-fight-status="standing"
                                style="border-radius: 15px 0 0 15px;">Standing</div>
                            <div class="fight_status pointer fight_status_fighter1 " id="fighter1_status_clinch"
                                data-fight-status="clinch">Clinch
                            </div>
                            <div class="fight_status pointer fight_status_fighter1 " id="fighter1_status_ground"
                                data-fight-status="ground" style="border-radius: 0 15px 15px 0;">Ground</div>
                        </div>
                        <div class="flex justify-left">
                            <div class="fighter_hits_info">
                                <div class="hit_card_item"><strong>Head:</strong><br><span
                                        id="fighter1_hits_head"></span>
                                </div>
                                <div class="hit_card_item"><strong>Body:</strong><br><span
                                        id="fighter1_hits_body"></span>
                                </div>
                                <div class="hit_card_item"><strong>Leg:</strong><br><span id="fighter1_hits_leg"></span>
                                </div>
                                <div class="hit_card_item"><strong>Takedown:</strong><br><span
                                        id="fighter1_hits_takedown"></span>
                                </div>
                            </div>
                            <img src="/img/30473.png" class="fighter_body_image" id="fighter1_img" alt="UFC Logo"
                                style="height: 75%;">
                            <div class="strikes_items" data-strike-selected="">
                                <div id="fighter1_elbow_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="elbow" data-fighter-number="1"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter1_id %>"
                                        data-target-id="<%= fight.fighter2_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Elbow:</strong><br><span id="fighter1_strikes_elbow"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="elbow"
                                        data-fighter-number="1">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Significant Strikes</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Non-Significant Strikes</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                                <div id="fighter1_punch_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="punch" data-fighter-number="1"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter1_id %>"
                                        data-target-id="<%= fight.fighter2_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Punch:</strong><br><span id="fighter1_strikes_punch"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="punch"
                                        data-fighter-number="1">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Significant Strikes</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Non-Significant Strikes</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                                <div id="fighter1_knee_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="knee" data-fighter-number="1"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter1_id %>"
                                        data-target-id="<%= fight.fighter2_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Knee:</strong><br><span id="fighter1_strikes_knee"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="knee"
                                        data-fighter-number="1">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Significant Strikes</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Non-Significant Strikes</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                                <div id="fighter1_kick_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="kick" data-fighter-number="1"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter1_id %>"
                                        data-target-id="<%= fight.fighter2_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Kick:</strong><br><span id="fighter1_strikes_kick"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="kick"
                                        data-fighter-number="1">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Significant Strikes</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Non-Significant Strikes</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                                <div id="fighter1_takedown_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="takedown" data-fighter-number="1"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter1_id %>"
                                        data-target-id="<%= fight.fighter2_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Takedown:</strong><br><span id="fighter1_strikes_takedown"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="takedown"
                                        data-fighter-number="1">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Successful Takedowns</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Failed Takedown Attempts</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="1"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="half-width strike_card_section fighter2_strike_card" style="border-right: 1px solid black;">
                <div class="strike_card">
                    <h1 class="text-2xl text-center font-bold" id="fighter2_name"
                        data-fighter2-id="<%= fight.fighter2_id %>">Fighter 2</h1>
                    <div class="justify-center items-center">
                        <div class="flex fight_status_section hidden justify-center">
                            <div class="fight_status pointer fight_status_fighter2 fight_status_active"
                                id="fighter2_status_standing" data-fight-status="standing"
                                style="border-radius: 15px 0 0 15px;">Standing</div>
                            <div class="fight_status pointer fight_status_fighter2 " id="fighter2_status_clinch"
                                data-fight-status="clinch">Clinch
                            </div>
                            <div class="fight_status pointer fight_status_fighter2 " id="fighter2_status_ground"
                                data-fight-status="ground" style="border-radius: 0 15px 15px 0;">Ground</div>
                        </div>
                        <div class="flex justify-left">
                            <div class="fighter_hits_info">
                                <div class="hit_card_item"><strong>Head:</strong><br><span
                                        id="fighter2_hits_head"></span>
                                </div>
                                <div class="hit_card_item"><strong>Body:</strong><br><span
                                        id="fighter2_hits_body"></span>
                                </div>
                                <div class="hit_card_item"><strong>Leg:</strong><br><span id="fighter2_hits_leg"></span>
                                </div>
                                <div class="hit_card_item"><strong>Takedown:</strong><br><span
                                        id="fighter2_hits_takedown"></span>
                                </div>
                            </div>
                            <img src="/img/30473.png" class="fighter_body_image" id="fighter2_img" alt="UFC Logo"
                                style="height: 75%;">
                            <div class="strikes_items" data-strike-selected="">
                                <div id="fighter2_elbow_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="elbow" data-fighter-number="2"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter2_id %>"
                                        data-target-id="<%= fight.fighter1_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Elbow:</strong><br><span id="fighter2_strikes_elbow"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="elbow"
                                        data-fighter-number="2">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Significant Strikes</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Non-Significant Strikes</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                                <div id="fighter2_punch_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="punch" data-fighter-number="2"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter2_id %>"
                                        data-target-id="<%= fight.fighter1_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Punch:</strong><br><span id="fighter2_strikes_punch"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="punch"
                                        data-fighter-number="2">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Significant Strikes</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Non-Significant Strikes</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                                <div id="fighter2_knee_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="knee" data-fighter-number="2"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter2_id %>"
                                        data-target-id="<%= fight.fighter1_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Knee:</strong><br><span id="fighter2_strikes_knee"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="knee"
                                        data-fighter-number="2">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Significant Strikes</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Non-Significant Strikes</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                                <div id="fighter2_kick_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="kick" data-fighter-number="2"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter2_id %>"
                                        data-target-id="<%= fight.fighter1_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Kick:</strong><br><span id="fighter2_strikes_kick"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="kick"
                                        data-fighter-number="2">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Significant Strikes</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Non-Significant Strikes</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                                <div id="fighter2_takedown_line" class="strike_line_detail flex">
                                    <div class="strike_card_item" data-strike-type="takedown" data-fighter-number="2"
                                        data-strike-sig="" data-strike-target=""
                                        data-striker-id="<%= fight.fighter2_id %>"
                                        data-target-id="<%= fight.fighter1_id %>" data-fight-id="<%= fight.fight_id %>"
                                        data-event-id="<%= fight.event_id %>">
                                        <strong>Takedown:</strong><br><span id="fighter2_strikes_takedown"></span>
                                    </div>
                                    <div class="significant_strike hidden" data-strike-type="takedown"
                                        data-fighter-number="2">
                                        <div class="significant_strike_option strike_significant_strike"
                                            data-strike-sig="true">
                                            <strong>Successful Takedowns</strong>
                                        </div>
                                        <div class="significant_strike_option strike_non_significant_strike"
                                            data-strike-sig="false">
                                            <strong>Failed Takedown Attempts</strong>
                                        </div>
                                    </div>
                                    <div class="strike_map_destination hidden flex" data-strike-target="">
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="head">
                                            <strong>Head</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="body">
                                            <strong>Body</strong>
                                        </div>
                                        <div class="strike_possible_destination" data-fighter-number="2"
                                            data-strike-target="leg">
                                            <strong>Leg</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%- include('partials/simulationModal.ejs') %>

            <%- include('partials/footer') %>