<%- include('partials/header') %>
    <div class="container mx-auto p-8 fight_round_details">
        <div class="flex">
            <div class="m-4 p-10 bg-white rounded shadow-xl half-width">
                <%- include('partials/fightDetails') %>
            </div>
            <div class="m-4 p-10 bg-white rounded shadow-xl half-width">
                <%- include('partials/roundSelector') %>
            </div>
        </div>
    </div>
    <div class="simulation_panel">

    <br>
    <%- include('partials/roundBanner') %>
    <br>
    <div class="flex fighters_strike_cards" data-fighter-selected="1">
        <%- include('partials/fighterStrikeCard', {striker: fight.fighter1_id, target: fight.fighter2_id,
            fighter_number: 1 }) %>
        <%- include('partials/fighterStrikeCard', {striker: fight.fighter2_id, target: fight.fighter1_id,
            fighter_number: 2 }) %>
        </div>
    
    </div>
    <%- include('partials/simulationModal.ejs') %>

    <%- include('partials/footer') %>
