<%- include('partials/header') %>

<div class="container mx-auto p-8">

    <div class=" m-4 p-10 bg-white rounded shadow-xl">
        <p class="text-gray-800 font-medium form_title text-2xl">Add fighter</p>
        <p class="hidden" id="fighter_id"></p>
        <div class="form flex">
            <div class="column m-5" style="width: 50%;">
                <div class="mt-4">
                    <label class="block text-sm text-gray-00" for="name">First name</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="text" id="organisation_name"
                        name="name" placeholder="Enter Organisation Name" aria-label="Name">
                </div>
                <div class="mt-4">
                    <label class="block text-sm text-gray-00" for="name">Last name</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="text" id="organisation_name"
                        name="name" placeholder="Enter Organisation Name" aria-label="Name">
                </div>
                <div class="mt-4">
                    <label class="block text-sm text-gray-00" for="name">Nickname</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="text" id="organisation_name"
                        name="name" placeholder="Enter Organisation Name" aria-label="Name">
                </div>
                <div class="mt-4">
                    <label class="block text-sm text-gray-00" for="name">Weight</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="text" id="organisation_name"
                        name="name" placeholder="Enter Organisation Name" aria-label="Name">
                </div>
            </div>
            <div class="column m-5" style="width: 50%;">
                <div class="mt-4">
                    <label class="block text-sm text-gray-00" for="name">Height</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="text" id="organisation_name"
                        name="name" placeholder="Enter Organisation Name" aria-label="Name">
                </div>
                <div class="mt-4">
                    <label class="block text-sm text-gray-00" for="name">Stance</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="text" id="organisation_name"
                        name="name" placeholder="Enter Organisation Name" aria-label="Name">
                </div>
                <div class="mt-4">
                    <label class="block text-sm text-gray-00" for="name">Wins</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="text" id="organisation_name"
                        name="name" placeholder="Enter Organisation Name" aria-label="Name">
                </div>
                <div class="mt-4">
                    <label class="block text-sm text-gray-00" for="headquarters">Losses</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="text"
                        id="organisation_headquarters" name="headquarters" placeholder="Enter Headquarters"
                        aria-label="Headquarters">
                </div>
                <div class="mt-4">
                    <label class="block text-sm text-gray-00" for="founded_year">Draws</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="number"
                        id="organisation_founded_year" name="founded_year" placeholder="Enter Founded Year"
                        aria-label="Founded Year">
                </div>
            </div>
        </div>

        <div class="mt-6">
            <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                id="btn_add_organisation">Add Fighter (WIP)</button>
            <button class="hidden px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                id="btn_edit_organisation">Edit Fighter (WIP)</button>
        </div>
    </div>
</div>
<div class="container mx-auto p-8">
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <h1 class="text-3xl font-bold text-gray-900">Fighters</h1>
                    <table class="min-w-full">
                        <thead class="bg-gray-100 border-b">
                            <tr>
                                <!-- <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    ID
                                </th> -->
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    FIRST
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    LAST
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    NICKNAME
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    HEIGHT
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    WEIGHT
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    REACH
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    STANCE
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    W-L-D
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-gray-100 border-b">
                            <% fighters.forEach(fighter=> { %>
                                <tr>
                                    <!-- <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= fighter.fighter_id %>
                                    </td> -->
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= fighter.first_name %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= fighter.last_name %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= fighter.nickname %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= fighter.height %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= fighter.weight %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= fighter.reach %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= fighter.stance %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= fighter.wins %>-<%= fighter.losses %>-<%= fighter.draws %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <button
                                            class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                                            onclick="editOrganisation('<%= fighter.organisation_id %>')">Edit</button>
                                        <button
                                            class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                                            onclick="deleteOrganisation('<%= fighter.organisation_id %>')">Delete</button>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>