<div>
    <h2 class="text-xl">Fight Details</h2>
    <div class="mb-4">
        <p class="text-2xl font-bold text-gray-600">
            <%= fight.fighter1_full_name %> VS <%= fight.fighter2_full_name %>
        </p>
        <p class="text-gray-600">Division <%= fight.division %>
        </p>
        <p class="text-gray-600">Winner: <%= fight.winner_full_name %>
        </p>
        <p class="text-gray-600">Card Type: <%= fight.card_type_name %>
        </p>
    </div>
</div>