<div class="container mx-auto " style="padding: 8rem 3rem 3rem 3rem;" fight_round_details">
    <div class="flex">
        <div class="m-4 p-10 bg-white rounded shadow-xl half-width">
            <%- include('fightData') %>
        </div>
        <div class="m-4 p-10 bg-white rounded shadow-xl half-width">
            <%- include('roundSelector') %>
        </div>
    </div>
</div>
<div class="simulation_panel">

    <br>
    <%- include('roundBanner') %>
        <br>
        <div class="flex fighters_strike_cards" data-fighter-selected="1">
            <%- include('fighterStrikeCard', {striker: fight.fighter1_id, target: fight.fighter2_id, fighter_number: 1
                }) %>
                <%- include('fighterStrikeCard', {striker: fight.fighter2_id, target: fight.fighter1_id, fighter_number:
                    2 }) %>
        </div>

</div>
<%- include('simulationModal.ejs') %>