<div class="container mx-auto p-8">
    <div class="m-4 p-10 bg-white rounded shadow-xl">
        <h2 class="text-2xl font-bold mb-4">Organisation Details <small><strong>#<span id="event_id">
                        <%= organisation.organisation_id %>
                    </span></strong></small></h2>
        <div class="mb-4">
            <p class="text-gray-600">Name: <%= organisation.name %>
            </p>
            <p class="text-gray-600">Headquarters: <%= organisation.date %>
            </p>
            <p class="text-gray-600">Founded year: <%= organisation.founded_year %>
            </p>
            <p class="text-gray-600">Number of events: <%= organisation.event_count %>
            </p>
        </div>
        <div class="flex  mb-4">
            <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
                onclick="Event.show_modal_form()">
                Add event
            </button>
        </div>
    </div>
</div>
<div class="container mx-auto p-8">
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <h1 class="text-3xl font-bold text-gray-900">Events</h1>
                    <table class="min-w-full">
                        <thead class="bg-gray-100 border-b">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    ID
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Name
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Date
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Location
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Organisation
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-gray-100 border-b">
                            <% events.forEach(event=> { %>
                                <tr class="pointer"
                                    onclick="navigator.go_to('events', {org_id: '<%= event.organisation_id %>', event_id: '<%= event.event_id %>'})">
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= event.event_id %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= event.name %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= event.date %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= event.location %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <%= event.organisation_name %>
                                    </td>
                                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                                        <button
                                            class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                                            type="submit">Edit</button>
                                        <button
                                            class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                                            type="submit">Delete</button>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>