<%- include('../fighters/fighter_form.ejs') %>

    <div class="container mx-auto " style="padding: 8rem 3rem 3rem 3rem;">
        <div class=" flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <h1 class="text-3xl font-bold text-gray-900">Fighters</h1>
                        <div class="relative flex flex-col text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
                            <nav class="flex  flex-col gap-1 p-2 font-sans text-base font-normal text-blue-gray-700">

                                <% fighters.forEach(fighter=> { %>
                                    <div role="button"
                                        class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start border-b border-gray-300">
                                        <div class="grid mr-4 place-items-center">
                                            <img alt="candice" src="https://via.placeholder.com/50x50"
                                                class="relative inline-block h-12 w-12 !rounded-full  object-cover object-center" />
                                        </div>
                                        <div>
                                            <h6
                                                class="block font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-blue-gray-900">
                                                <%= fighter.first_name %> "<%= fighter.nickname %>" <%=
                                                            fighter.last_name %>
                                            </h6>
                                            <p
                                                class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700">
                                                <%= fighter.weight %> lbs - <%= fighter.height %> - <%= fighter.reach %>
                                                            inches

                                            </p>
                                        </div>

                                        <div class="flex ml-auto space-x-2">
                                            <button class="px-4 py-1 text-white font-light  bg-gray-900 rounded ml-auto"
                                                onclick="Fighter.delete_fighter('<%= fighter.fighter_id %>')">Edit</button>
                                            <button
                                                class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded ml-auto"
                                                onclick="Fighter.delete_fighter('<%= fighter.fighter_id %>')">Delete</button>
                                        </div>
                                    </div>

                                    <% }) %>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>